		#admincontentdiv
		{
			width: 60%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 6%;
		}
		#admincontentdiv input[type=text]
		{
			margin-left: auto;
			margin-right: auto;
			display: block;
			border-radius: 4px;
			border: 1px solid #cacaca;
			padding-left: 1%;
			height: 4vh;
			padding-top: 0.2%;
			width: 40%;
			font-size: 1vw;
			color: #666;
		}
		#admincontentdiv h1
		{
			text-align: center;
			color: #555;
		}
		table
		{
			margin-right: auto;
			margin-left: auto;
			width: 60%;
			font-size: 1.2vw;
			margin-top: 2%;
			border-radius: 4px;
			border-color: #eaeaea;
		}
		table td
		{
			padding-top: 1%;
			padding-bottom: 1%;
			padding-left: 4%;
			width: 50%;
			color: #333;
		}
		#blockbutton
		{
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 60%;
		text-align: left;
		padding-left: 3%;
		font-size: 1.2vw;
		border:none;
		height: 5vh;
		background-color: #f7f7f7;
		border-radius: 4px;
		color: #666; 
		}
		#blockbutton:hover
		{
			color: #b92b27;
		cursor: pointer;
		font-weight: bold;
		}